<html>
  <head>
    <title>Chat</title>
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/chat.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/javascript/chat.js"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <span class="navbar-text username"></span>

      <form class="form-inline my-2 my-lg-0 changeUsername">
        <input class="form-control mr-sm-2 usernameInput" type="text" placeholder="Your nick">
        <button class="btn my-2 my-sm-0" type="submit">Change</button>
      </form>
    </nav>
    <!-- NAVBAR -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-2 sidebar">
          <h4>Online users:</h3>
          <ul class="usersList"></ul>
        </div>

        <!-- CHAT CONTAINER -->
        <div class="col-8 chat">
          <!-- MESSAGES CONTAINER -->
          <ul class="messages list-unstyled">
          </ul>
          <!-- MESSAGES CONTAINER -->

          <!-- MESSAGE FORM -->
          <form class="messageForm" action="">
            <div class="form-group">
              <input type="text" class="form-control messageInput">
            </div>
            <button type="submit" class="btn btn-primary float-right">Send</button>
          </form>
          <!-- MESSAGE FORM -->

        </div>
        <!-- CHAT CONTAINER -->
    </div>
  </body>
</html>
