<html>
  <head>
    <title>Chat</title>
    <link type="text/css" rel="stylesheet" href="../public/chat.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        Hello
      </div>
      <div class="chat">
        <p class="title">Chat</p>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
