body {
  padding-top: 60px;
}

.chat {
  height: 100%;

  ul.messages {
    border: 1px solid #cecece;
    padding: 10px;
    height: 82%;
    overflow-y: auto;

    li.warning { color: red; }

    li {
      p {
        font-size: 14px;
        margin-bottom: 4px;
      }

      i.emoji {
        font-style: normal;
        margin-left: 5px;
        font-size: 200%;
      }

      i {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}
