body {
  padding-top: 60px;
}

.chat {
  height: 100%;

  ul.messages {
    border: 1px solid #cecece;
    padding: 10px;
    height: 82%;
    overflow-y: scroll;

    li.warning { color: red; }

    li {
      i {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}

.messageForm {
}
