.sidebar {
  width: 300px;
  float: left;
}

.chat {
  margin-left: 300px;
  width: 800px;

  ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  .messageForm {

  }
}

.clear {
  clear: both;
}
